header* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #46abf3;
    display:flex;
    padding: 24px 0;
    justify-content:space-around;
    align-items: center;
    }

.cabeçalho-título {
    color:  white;
    font-size: 60px;
}

.cabeçalho-lista {
    color: white;
    font-size: 48px;
}

.cabeçalho-lista-item1{
    display: inline-block;
    margin: 0 16px;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin:0 16px;
}

.cabeçalho-imagem {
    width: 10%;
}


.Apresentação-imagem {
    width: 30%;
}
